/*
  killich's xHTML
  killich@yandex.ru
  Илья Зыкин
*/

/* headers */
h1,h2,h3,h4,h5,h6 {font-weight:bold; margin-bottom:15px;}
h1{ font-size:22pt; }
h2{ font-size:20pt; }
h3{ font-size:18pt; }
h4{ font-size:16pt; }
h5{ font-size:14pt; }
h6{ font-size:12pt; }
/* headers */
.blue{color:#34A7C4;}

body{
  background:#FFF;
  font-family:Tahoma, Verdana,Trebuchet MS,Arial,serif;
  font-size:8pt;
  /*behavior:url("/stylesheets/basic/hover.htc");*/
}
.body{
  width:990px;
  margin:auto;
  border-left:1px solid #CCC;
  border-right:1px solid #CCC;
}