/*
  killich's xHTML
  killich@yandex.ru
  Илья Зыкин
*/

.header{
    height:384px;
    background:#DDD url("../images/header_fon.jpg") no-repeat scroll 0 0;
    position:relative;
}
.header .topics{
    position:absolute;
    top:123px;
    left:475px;
}
.header .topics h1{
    color:#7C9001;
    font-size:12px;
    font-weight:bold;
    text-transform:uppercase;
    margin-bottom:7px;
}
.header .topics ul li{
    background:url("../images/topic_bullet.gif") no-repeat scroll 0 4px transparent;
    margin:0 0 2px 0;
    padding:0 0 0 17px;
}
.header .topics ul a{
    color:#4A4DA8; /*439FAF 1B317A*/
    text-decoration:none;
    font-size:12px;
}
.header .topics ul a:hover{
    text-decoration:underline;
}
/*navigation_functions*/
.header .navigation_functions{
    position:absolute;
    top:310px;
    left:475px;
}
.header .navigation_functions ul li{
    float:left;
    margin:0 20px 0 0;
}
.header .navigation_functions ul a{
    color:#005C7D;
    text-decoration:none;
    font-size:11px;
    padding:0 0 0 20px;
}
.header .navigation_functions ul a:hover{text-decoration:underline;}
.header .navigation_functions .index{ background:url("../images/index.gif") no-repeat scroll 0 3px transparent; }
.header .navigation_functions .send_mail{ background:url("../images/send_mail.gif") no-repeat scroll 0 4px transparent; }
.header .navigation_functions .site_map{ background:url("../images/site_map.gif") no-repeat scroll 0 4px transparent; }

.header .phone{position:absolute; top:5px; left:725px;}